/* weather map page styles */

/*  Стили для карты */


.leaflet-top {
    top: 0;
}

.global-map {
    position: fixed;
    top: 48pt;
    left: 0px;
    right: 0px;
    bottom: 0px
}



.leaflet-fade-anim .leaflet-tile {
    will-change: inherit;
}

.weather-layer-container__cities {
display: inline-block;
vertical-align: top;
width: 100%;
position: relative; }

.weather-layer-container__label {
display: inline-block !important;
width: 100%;
vertical-align: top;
background-color: #e0e0e0;
color: #222222;
padding-left: 34px !important; }
.weather-layer-container__label:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #777;
  top: 6px;
  left: 15px; }

.weather-layer-container__checkbox {
display: none; }

.weather-layer-container__checkbox:checked + .weather-layer-container__label:before {
content: '';
position: absolute;
width: 15px;
height: 15px;
border: 1px solid #777;
background: url(/themes/vendor/owm/img/icon-check-yes.svg) 50% 50% no-repeat;
top: 6px;
left: 15px; }

.leaflet-iconLayers-layerCell{
    background: none !important;
} */
